* {
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100%;
    height: 100%;
}

/** Constants Declaration */
:root {
    --main-box-width: 77%;
    --top-logo-width: 100px;

    /* Side Box */
    --side-box-top-element-height: 95px;
    --side-box-bottom-element-height: calc(1.25 * var(--side-box-top-element-height));
    --side-box-content-height: calc(100% - var(--side-box-top-element-height) - var(--side-box-bottom-element-height));
}

/** Main Page Layout */

section.wrapper-box {
    height: 100%;
}

section.main-box {
    width: var(--main-box-width);
    height: inherit;
    float: left;
    background-color: forestgreen;
}

section.side-box {
    position: fixed;
    width: calc(100% - var(--main-box-width));
    height: inherit;
    right: 0px;
    background-color: darkblue;
}

/** Main Box -- Header Elements */

header {
    /* Self */
    position: fixed;
    width: var(--main-box-width);
    height: 100px;
    box-sizing: border-box;
    background-color: black;

    /* Internal styles */
    display: flex;
    padding: 5px;
}

section.top-logo {
    width: var(--top-logo-width);
    min-width: var(--top-logo-width);
    height: 100%; /* Later use ~125%? */
    background-color: orange;
}

section.info-box {
    /* Self */
    width: calc(100% - var(--top-logo-width));
    background-color: yellow; /* Subject to change */

    /* Internal styles */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; /* Subject to change | Requires additional testing */
    padding: 0px 15px;
}

section.info-box-item {
    /* Self */
    height: 50%;

    /* Internal styles */
    display: flex;
    flex-direction: row;
    align-items: center; /* Alternatively, use padding */
}

section.top-info, section.item-data-wrapper {
    /* Self? */
    
    /* Internal styles */
    display: flex;
    justify-content: space-between;
}

section.top-info > button {
    /* Self */
    height: 90%;
    margin-top: 5px;
    margin-bottom: 2px;
    border: 1px solid black;
    border-radius: 4px;

    /* Internal styles */
    padding: 0px 20px;
}

/** Side Box Styles */
section.side-box > section.top-element {
    /* Self */
    height: var(--side-box-top-element-height);
    width: 100%;
    background-color: wheat;

    /* Internal styles */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.side-box > section.top-element > section {
    /* Self? */

    /* Internal styles */
    padding: 0px 10px;
}

section.side-box-item-wrapper {
    height: var(--side-box-content-height);
}

section.side-box-item-wrapper > section.item {
    height: var(--side-box-bottom-element-height);
    background-color: gray;
}

section.side-box > section.bottom-element {
    height: var(--side-box-bottom-element-height);
    background-color: whitesmoke;
}

section.total-price-wrapper {
    /* Self */
    height: 40%;

    /* Internal styles */
    display: flex;
    justify-content: space-between;
    align-items: end;
}

section.total-price-wrapper > span {
    /* Self? */

    /* Internal styles */
    padding: 0px 10px;
}

section.buy-button-wrapper {
    /* Self? */

    /* Internal styles */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
}

button.buy-button {
    padding: 5px 15px;
    border: 1px solid black;
    border-radius: 4px;
}

/** Auxiliary Styles */
.uses-tborder {
    border-top: 1px solid black; /* Color is subject to change */
}

.uses-large-rmargin {
    margin-right: 20px;
}
